<% sorted_articles.each do |post| %>
	  <div class='post'>
	    <h1><%= link_to post[:title], "/blog" + post.path %></h1>
	    <aside>Posted at: <%= post[:created_at] %></aside>
		<article>
		  <%= get_post_start(post) %>
		</article>
	  </div>
<% end %>