body {
  background:#FFEFE0;
}
.content {
  width:800px;
  background:#EBD0B5;
  border:1px solid #ddd;
  border-top: none;
  margin:0 auto;
  padding:60px 20px 0 60px;
}
.post h1 a {
  font-size:24px;
  text-decoration:none;
}
.post aside {
  color:#888;
  padding-bottom:8px;
  border-bottom:1px solid #aaa;
}
.post article {
  margin:10px 0 60px 0;
}
.nav{
  margin-top:0px;
  width:100%;
  float:center;
  border:1px solid #ccc;
  background:#615C66;
  /*background:#614E4D;*/
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  color:white;
  padding:20px;
  text-decoration:none;
}
.banner{
  width:100%;
  height:249px;
}

