<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My blog - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" 
      href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" 
      media="screen">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li><a href="/blog">Home</a></li>
        <!-- ENGL 481 Medieval British Literature -->
        <li><a href="/">Medieval British Literature</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Work</a></li>
        <li><a href="/">Clients</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    <nav>
    <section class='content'>
      <%= yield %>
    </section>
  </body>
</html>